{% extends 'base.html.twig' %}
{% block body %}
<h2> Page d'inscription </h2>

{{ form_start(form) }}

 {{ form_row(form.email) }}
  {{ form_row(form.password) }}
   {{ form_row(form.confirm_password) }}
   <button type="submit" class="btn btn-primary btn-lg btn-block">submit</button>
{{ form_end(form) }}
{% endblock %}

